@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #222;
}

body {
  margin: 2rem 1rem;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text, .coin-search h2 {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  margin-top: 1rem;
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #e7e4e4;
  color: #222;
  font-weight: 700;
}

.coin-input::placeholder {
  color: #222;
  font-weight: 700;
}

.main {
  position: relative;
  overflow: auto;
  border: 1px solid black;
}

.sticky-col {
  position: sticky;
  position: -webkit-sticky;
}

.first-col {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  left: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, td, th {
  border-left: 1px solid;
  border-right: 1px solid;
}

th {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin: 0;
  text-align: start;
  padding: 1rem;
}

table {
  width: 100%;
}