.sticky-col {
    position: sticky;
    position: -webkit-sticky;
}

td {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    padding: 1rem;
    text-align: start;
    background-color: rgb(241, 237, 237);
    border-bottom: 1px solid;
}

.first-col {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    padding: 1rem;
    text-align: start;
    background-color: #fff;
    border-bottom: none;
}

.flex {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.flex p {
    background-color: #fff;
}

img {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

table {
    width: 100%;
}

td p {
    background-color: rgb(241, 237, 237);
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}